.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ================================ */


/* Base Styles */
body {
  
  background-color: #E6E6FA; /* Lavender background */
  background-image: linear-gradient(to bottom, rgba(230, 230, 250, 0.86), #a878a8); /* Subtle gradient */
  color: #2e2e2e; /* Dark Gray for contrast */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Links */
